<nb-layout>
  <nb-layout-header>
    <h3>Inbox</h3>
    <div>
    <button style="float: right" (click)="logout()">Logout</button>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <nb-tabset>
          <nb-tab tabTitle=" Received">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Body</th>
                <th scope="col">Subject</th>
                <th scope="col">Received Time</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let mail of maildata">
                <td>{{mail.body}}</td>
                <td>{{mail.subject}}</td>
                <td>{{mail.received_time}}</td>
              </tr>
              </tbody>
            </table>

          </nb-tab>



        </nb-tabset>


      </nb-card-body>
    </nb-card>

  </nb-layout-column>
</nb-layout>
